@{
    ViewData["Title"] = "Home Page";
    Product productObj = new Product(){ProductName="BoomBox", Price=120.00};
}
@model DojoSurvey.Models.Survey

<div class="text-center">

    <form action="/surveySubmit" method="post">
        <div class="form-group">
            <span asp-validation-for="Name"></span>
            <label asp-for="Name">Name: </label>
            <input type="text" asp-for="Name" id="Name" class="form-control">
        </div>
        <div class="form-group">
            <span asp-validation-for="Location"></span>
            <label asp-for="Location">Location: </label>
            <select asp-for="Location" id="Location" class="form-control" >
                <option value="none" selected disabled hidden> Select a Location</option>
                <option value="San Jose">San Hose</option>
                <option value="Seattle">Seattle</option>
                <option value="Chicago">Chicago</option>
                <option value="Burbank">Burbank</option>
            </select>
        </div>
        <div class="form-group">
            <span asp-validation-for="Language"></span>
            <label asp-for="Language">Language: </label>
            <select asp-for="Language" id="Language" class="form-control">
                <option value="none" selected disabled hidden> Select a Language</option>
                <option value="Python">Python</option>
                <option value="Java">Java</option>
                <option value="C#">C#</option>
                <option value="JavaScript">JavaScript</option>
            </select>
        </div>
        <div class="form-group">
            <span asp-validation-for="Comment"></span>
            <label asp-for="Comment">Comment: (Optional) </label>
            <textarea asp-for="Comment" id="Comment" cols="30" rows="10" placeholder="Enter comment here." class="form-control" ></textarea>
        </div>
            <button type="submit" class="btn-primary">Submit</button>
    </form>

    <h1>Welcome to this site!</h1>
    <p>The rest of your View content here....</p>
    <partial name="NavPartial"/>

    <h2>Partial html follows  </h2>
    <partial name="TimeKeepPartial" />

    <partial name="ProductPartial" model="productObj" />


</div>
